<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1 style="color: rgb(207, 24, 207);"> Welcome!!! </h1>
    </div>
        <form action="/" method="post">
            <div class="box">
                <input type="text" placeholder="Enter Location" name="loc" autocomplete="off">
            </div>
            <button type="submit" value="submit">SUBMIT</button>
            
        </form>
    
</body>
</html>